@inherits LayoutComponentBase

<div class="super-container">
    <header>
        <div id="logo"><i class="fas fa-fist-raised"></i></div>
    </header>
    
    <div class="flex">
        <aside>
            <NavMenu/>
        </aside>

        <main>
            @Body
        </main>
    </div>
    <footer>
        <div>Av: Amanda Hwatz Björkholm. Kontakta mig på e-post: <a href="mailto::amandahwatz@gmail.com">amandahwatz@gmail.com</a>.</div>
    </footer>
</div>
