<nav>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Hem</NavLink></li>
        <li><NavLink href="Convert">Konvertera</NavLink></li>
        <li><NavLink href="Courses">Kurser</NavLink></li>
    </ul>
</nav>